# Python specific
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/


# Machine learning models and datasets
*.pkl
*.tar*
*.json
*.env

# Specific files to ignore
prj.txt
resizable_overlay.py
src/analyzer/.env
src/analyzer/.gitattributes
src/analyzer/code-suggestion-model/
src/analyzer/joblib_result
src/analyzer/temp.txt
src/analyzer/tempCodeRunnerFile.py
src/analyzer/template.pdf
src/analyzer/train_joblib
src/analyzer/large_code_test.py
src/analyzer/ml_model.py
src/analyzer/parse_python.py
src/analyzer/transformer_eval.py